.swapi-new-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
  height: 100%;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }

  &__main-actions {
    animation-name: button-show;
    animation-duration: 1.5s;
    display: flex;
    gap: 1rem;
  }
}

@keyframes button-show {
  0% {
    opacity: 0;
    transform: translateY(-2rem)
  }

  50% {
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}