.swapi-player-card {
  &__wrapper {
    min-width: 10rem;
    min-height: 10rem;
    animation-name: card-show;
    animation-duration: 1s;
  }

  &__subtitle {
    font-size: .75rem !important;
    font-weight: 500 !important;
    margin: .5rem 0 !important;
    max-width: 10rem;
  }

  &__title {
    font-weight: 500 !important;
  }

  &__content {
    font-size: .8125rem;
    margin-bottom: .75rem 0;

    &--bold {
      font-weight: 500;
    }
  }

  &__content-points {
    margin-bottom: .5rem !important;
  }
}

@keyframes card-show {
  0% {
    opacity: 0;
    transform: translateY(-2rem)
  }

  50% {
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}