<div
  *ngIf="character$ | async as characterModel"
  class="swapi-player-card__wrapper"
>
  <mat-card>
    <ng-container *ngIf="characterModel">
      <mat-card-header>
        <mat-card-subtitle class="swapi-player-card__subtitle"
          >{{ characterModel.subtitle }} -
          <span class="swapi-player-card__subtitle-player">{{
            type
          }}</span></mat-card-subtitle
        >
        <mat-card-title class="swapi-player-card__title">{{
          characterModel.title
        }}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="swapi-player-card__content">
        <p>{{ characterModel.description }}</p>
        <p class="swapi-player-card__content-points">
          <span class="swapi-player-card__content--bold">Points:</span>
          {{ characterModel.value }}
        </p>
      </mat-card-content>
    </ng-container>
  </mat-card>
</div>
