<div *ngIf="character$ | async as character" class="swapi-player-card__wrapper">
  <mat-card>
    <ng-container *ngIf="character | characterModel as model">
      <mat-card-header>
        <mat-card-subtitle class="swapi-player-card__subtitle"
          >{{ model.subtitle }} -
          <span class="swapi-player-card__subtitle-player">{{
            type
          }}</span></mat-card-subtitle
        >
        <mat-card-title class="swapi-player-card__title">{{
          model.title
        }}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="swapi-player-card__content">
        <p>{{ model.description }}</p>
        <p class="swapi-player-card__content-points">
          <span class="swapi-player-card__content--bold">Points:</span>
          {{ model.value }}
        </p>
      </mat-card-content>
    </ng-container>
  </mat-card>
</div>
